body {
    text-align: justify;
    
}



.disclaimer-text {
    font-size: .65rem;
}

.home-icon {
    color: #20130a;
}

.cbt-btn {
    background-color: #990000;
}

.cbt-btn:hover {
    background-color: #a9bcc2;
}
.footer-menu {
    list-style: none;
    display: inline;
}

.footer {
    background-color: #335352;
    width: 100%;
}

.footer p {
    color: #ced5cd;
}
.footer a {
    color: #ced5cd;
}

.footer a:hover {
    color: #edf8ef;
    text-decoration: underline;
}